body{
    cursor: pointer;
}

.body_background{
    background-image: url("canvas.jpg");
    background-position: center;
    background-size: cover;
}

#mycanvas{
    border-width: 10px;
    background-color: white;
    border-style: ridge;
}

button{
    border-radius: 15px;
    border: white;
    background-color: black;
    color: white;
}

h1{
    color: black;
    font: comic;
}

input{
    border: white;
    background-color: black;
    color: white; 
}

span{
    color: black;
}